<h3>You did it! You Reset Password!</h3>

Hi {{ name }}! You're successfully Genrate new password.

{# example, assuming you have a route named "login" #}
Your new password <b>{{new_password}}</b>
To login, go to: <a href="{{ url('app_login') }}">...</a>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
